body {
  margin: 0;
  font-family: "Courier New",Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #21D4FD; */
background: linear-gradient(89deg, #21D4FD 0%, #B721FF 100%);
/* background: linear-gradient(89deg,#B721FF 0%, #21D4FD 100%); */


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
